{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2>Book Appointment</h2>
    <form method="post" action="{% url 'book_appointment' availability.id %}">
        {% csrf_token %}
        <div class="alert alert-info">
            You are about to book an appointment with <strong>{{ availability.doctor.user.get_full_name }}</strong>
            on <strong>{{ availability.get_day_display }} from {{ availability.start_time|time:"P" }} to {{ availability.end_time|time:"P" }}</strong>.
            <p>Fee: <strong>RS{{ availability.fee }}</strong></p>
            <p>Location: <strong>{{ availability.doctor.address }}</strong></p>
            <p>To pay the fee, please send the amount to this Easypaisa account: <strong>03466722783</strong>.</p>
        </div>
        <input type="hidden" name="availability_id" value="{{ availability.id }}">
        <button type="submit" class="btn btn-primary">Confirm Appointment</button>
    </form>
</div>

{% endblock %}
